# Postgres

DB_USER=username
DB_PASS=password
DB_NAME=dbname
DB_HOST=db  # docker-compose service name (You probably don't need to change this)
DB_PORT=5432
DB_EXPOSE_PORT=5432

# PGAdmin

PGADMIN_DEFAULT_EMAIL=email
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PORT=80
PGADMIN_EXPOSE_PORT=5050